/* import custom fonts  */
@font-face {
  font-family: "Gilroy Extra Bold";
  font-weight: 700;
  src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy Medium";
  font-weight: 400;
  src: url("/fonts/Gilroy-Medium.otf") format("opentype");
}

:root {
  --green: #70e000;
  --blue: #073b4c;
  --dark-gray: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy Medium", sans-serif;
  overflow-y: hidden;
  line-height: 1.5;
  font-weight: 400;
}

.pg-wrapper {
  padding-right: 0 !important;
}

.pg-container {
  width: 100dvw !important;
}

/* Custom styles for each section */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh !important;
  width: auto !important;
}

.flex-center {
  margin: auto 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.flex-center.column {
  flex-direction: column;
}

.flex-center h2 {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 40px;
  color: var(--blue);
  text-align: left;
  line-height: 1.15;
  margin-left: 32px;
  font-weight: 700;
}

.flex-center p {
  color: var(--blue);
  font-size: 16px;
  max-width: calc(100% - 40px);
  text-align: justify;
  text-justify: inter-word;
}

.flex-center img {
  height: auto;
}

.flex-center a {
  background-color: var(--blue);
  color: var(--green);
  padding: 8px 16px;
  border-radius: 24px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-top: 24px;
  transition: ease 0.3s;
  margin-left: 32px;
}

.flex-center a:hover {
  transform: scale(1.1);
}

.companies {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  max-width: 780px;
  max-height: 320px;
  margin-bottom: 0 !important;
}

.companies .slick-arrow {
  display: none !important;
}

.companies .slick-dots {
  bottom: -24px !important;
}

.companies .slick-track {
  max-height: 240px !important;
  margin-top: 16px;
}

.companies .slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.companies > div {
  max-width: 320px;
  max-height: 240px !important;
}

.companies .slick-dots li {
  margin: 0 2px;
}

.companies .slick-dots li .slick-active button {
  background-color: var(--blue);
}

.companies .slick-dots li button:before {
  transform: scale(1.5);
}

.companies img {
  width: 100%;
  max-width: 240px;
  height: auto;
  margin: 0 auto;
}

#page-1 {
  background-color: var(--blue);
}

#page-1 .flex-center img {
  max-width: 240px;
}

/* PAGES */
#page-2,
#page-3,
#page-4 {
  background-color: var(--green);
}

#page-2 a.active,
#page-3 a.active,
#page-4 a.active {
  background-color: var(--blue);
}

#page-4 .flex-center img,
#page-2 .flex-center img {
  max-width: 320px;
}

/* PIPS */
.pg-pips {
  right: 8px !important;
}

.pg-pips ul {
  display: flex;
  flex-direction: column;
}

.pg-pips li:hover {
  top: unset !important;
  left: unset !important;
}

.pg-pips li:hover a {
  transform: scale(1.1);
  margin: -2px 0 0 -2px !important;
}

.pg-pips li a {
  width: 8px !important;
  height: 8px !important;
  position: relative;
  top: unset;
  left: unset !important;
}

.pg-pips li a.active {
  margin: -2px 0 0 -2px !important;
  transition: ease 0.2s;
}

/* PAGE WRAPPER */
.page-wrapper {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100dvw;
  max-width: 1440px;
}

header,
footer {
  position: fixed;
  z-index: 100;
  width: 100%;
}

header {
  text-align: left;
  top: 0;
  left: 0;
  padding: 12px 16px 8px;
}

header img {
  max-width: 160px;
  height: auto;
}

footer {
  background-color: var(--green);
  margin-top: auto;
  text-align: center;
  font-size: 12px;
  color: var(--blue);
  padding: 16px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer a {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  #page-1 .flex-center img {
    max-width: 400px;
  }

  /* PIPS */
  .pg-pips {
    right: 3vw;
  }

  .pg-pips li a {
    width: 16px !important;
    height: 16px !important;
  }

  .flex-center {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flex-center h2 {
    font-size: 72px;
    margin-left: 0;
  }

  .flex-center .companies {
    margin-top: 24px;
  }

  .flex-center p {
    font-size: 18px;
    max-width: 700px;
  }

  .flex-center a {
    margin-left: 0;
  }

  #page-1 .flex-center img {
    animation: pulse 3s ease-in;
  }

  #page-4 .flex-center img,
  #page-2 .flex-center img {
    max-width: 450px;
  }

  footer {
    font-size: 16px;
    flex-direction: row;
    bottom: 0;
    gap: 8px;
  }

  header {
    padding: 16px 32px;
  }

  header img {
    max-width: 240px;
  }

  /* Custom styles for each section */
  section {
    padding-right: 0;
  }

  /* PAGE WRAPPER */
  .page-wrapper {
    padding: 64px 16px 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100dvw;
    max-width: 1440px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 8px #ffffff54);
  }

  100% {
    transform: scale(1.2);
    filter: none;
  }
}
